/* ----------- Typography -----------*/

html, body {
  font-family: $body-font;
  font-size: 14px;
  color: $black;
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 600;
}

.title {
  font-weight: 4em;
}

p, ul, li {
  font-size: 16px;
  line-height: 1.8em;
}

a {
  color: $black;

  &:hover {
    color: $theme-secondary;
  }

  &:active, &:focus {
    color: $theme-highlight;
  }
}

a:not([href]):not([tabindex]) {
  color: $black;

  &:hover {
    color: $theme-secondary;
  }

  &:active, &:focus {
    color: $theme-highlight;
  }
}

p {
  a {
    color: $theme-primary;
    text-decoration: underline;
  }
}

.paragraph {
  ul {
    padding-left: 40px;

    li {
      list-style: unset;
      margin-bottom: 1em;
    }
  }
}

.bg-primary {
  background-color: $theme-primary !important;
  color: $white;

  p {
    color: $white;
  }
}

.bg-secondary {
  background-color: $theme-secondary !important;
}

.bg-dark {
  background-color: $black !important;
}

.bg-light {
  background-color: $light-gray !important;
}

.bg-lighter {
  background-color: $lighter-gray !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-pink {
  background-color: $pink !important;
}

.slider-height-sm {
  max-height: 400px;
  display: flex;

  img {
    object-fit: cover;
  }
}

.text-lg {
  font-size: 1.2em;
}

.text-primary {
  color: $theme-primary !important;
}

.text-secondary {
  color: $theme-secondary !important;
}

.text-highlight {
  color: $theme-highlight !important;
}

.text-purple {
  color: $dark-purple !important;
}

.text-blue {
  color: $blue !important;
}

.text-dark-gray {
  color: $dark-gray !important;
}

.text-small {
  font-size: 14px;
}

.btn-primary {
  background: $theme-primary;

  &:hover {
    background: $theme-secondary;
  }
}

.btn-secondary {
  background: $theme-secondary;

  &:hover {
    background: $theme-highlight;
  }
}

.btn-highlight {
  background: $theme-highlight;

  &:hover {
    background: $red;
  }
}

.page-container {
}

#full-page-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $white;
  z-index: 10000;
  left: 100%;
  transition: all ease-in-out 0.5s;

  &.info-open {
    left: 0;
  }

  .sidebar {
    position: absolute;
    height: 100%;
    font-family: $header-font;
    font-weight: 700;

    .rotate {
      transform: rotate(90deg);
    }
  }

  .explore-content {
    height: 100%;

    > div.row {
      height: inherit;
    }

    .inner-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .image {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
    }
  }

  .close-icon {
    position: absolute;
    right: 20px;
    top: 16px;


    button {
      transition: all 0.3s ease-out 0s;

      &:hover {
        color: $theme-secondary;
      }

      &:active, &:focus {
        color: $theme-highlight;
      }
    }
  }
}

.category {
  transition: all ease-out 0.3s;

  h4 {
    transition: all ease-out 0.3s;
  }

  &.open {
    color: $blue;

    h4 {
      font-size: 28px;
    }
  }
}

.article-container {
  display: flex;
  flex-wrap: wrap;

  .article {
    .image {
      object-fit: cover;
    }
  }
}

.topic {
  position: relative;
  cursor: pointer;

  .text {
    display: inline-block;
    transition: transform .2s ease;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: $theme-primary;
    width: 16px;
    height: 2px;
    top: 14px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform .2s ease;
  }

  &:hover, &.selected {
    &:before {
      transform: scaleX(1);
    }

    .text {
      transform: translateX(30px);
      color: $theme-primary;
    }
  }
}

section.dynamic-section {
  &:nth-of-type(even) {
    background-color: $lighter-gray;
  }
}

.freeze {
  overflow: hidden !important;
}

.header-2-menu .menu-bar {
  &:hover {
    span {
      background: $theme-secondary;
    }
  }

  &:focus, &:active {
    span {
      background: $theme-highlight;
    }
  }
}

.text-glow {
  text-shadow: 0px 0px 120px transparentize($white, 0.5);
}

.explore {
  margin-right: 80px;
  .article {
    .line {
      flex: 1;
      height: 1px;
      background: $light-blue;
    }

    .topics {
      transition: all ease-in-out 0.3s;
    }

    .image {
      position: absolute;
      background-size: cover;
      height: 0;
      width: 0;
      opacity: 0;
      transition: all ease-in-out 0.3s;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
    }

    &:hover {
      .topics {
        color: $theme-highlight;
      }

      .image {
        height: 100px;
        width: 100px;
        opacity: 1;
      }
    }
  }
}

.flex-grow {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}


/* tablet and below */
@media (max-width: 991px) {
  .breadcrumb-text {
    h1 {
      hyphens: auto;
    }
  }

  .explore {
    margin-right: 0;
    .article {
      .info {
        display: block;
      }

      .line {
        display: none;
      }

      .topics {
        transition: all ease-in-out 0.3s;
      }

      .image {
        position: absolute;
        background-size: cover;
        height: 0;
        width: 0;
        opacity: 0;
        transition: all ease-in-out 0.3s;
      }


      &:hover {
        .topics {
          color: $theme-highlight;
        }

        .image {
          height: 100px;
          width: 100px;
          opacity: 1;
        }
      }
    }
  }
}

