@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Rubik:400,700&display=swap');

$body-font : 'Rubik', sans-serif;
$header-font: 'Josefin Sans', sans-serif;


/*--------------------------- Custom colours ----------------------*/

$pink: #F5C7B8;
$red: #e45d50;
$blue: #3C5C78;
$light-blue: #E2EAF2;
$yellow: #ffac2a;
$dark-purple: #423243;

$green: #5BC500;
$dark-green: #12260A;
$light-green: #D1F08F;
$aubergine: #8A1538;
$orange: #F06400;


$black: #0A1108;
$light-gray: #F5F5F5;
$white: #FFFFFF;
$dark-gray: #A2A1A8;
$lighter-gray: #F5F5F5;


$theme-primary: $green;
$theme-secondary: $aubergine;
$theme-highlight: $orange;


/*--------------------------- background Color variations ----------------------*/


